<mat-toolbar color="primary">
    
    <span class="header-title-format">
        {{ websiteName }}
    </span>

    <span class="header-middle-format"></span>

    <span class="header-list-format">
        <mat-list >
            <mat-list-item>
                <button mat-flat-button color="primary" routerLink="/login">Login</button>
                <button mat-flat-button color="primary" routerLink="/home">Home</button>
                <button mat-flat-button color="primary">About</button>
                <button mat-flat-button color="primary">Awards</button>
                <button mat-flat-button color="primary">Projects</button>
                <button mat-flat-button color="primary">CV</button>
                <button mat-flat-button color="primary">Contact</button>
            </mat-list-item>
        </mat-list>
    </span>
    

    
</mat-toolbar>