<div class="register-div">
    <mat-card>
        <mat-card-header class="login-formatter">
            <mat-card-title>Register for Profile Builder</mat-card-title>
        </mat-card-header>
        <form #registerForm="ngForm" (submit)="onRegisterSubmit(registerForm)">
            <div>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput
                    name="firstname" 
                    ngModel
                    #firstname="ngModel"
                    required>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput
                    name="lastname" 
                    ngModel
                    #lastname="ngModel"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>E-mail address</mat-label>
                    <input matInput
                    name="email" 
                    ngModel
                    #email="ngModel"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Confirm E-mail address</mat-label>
                    <input matInput
                    name="confirmEmail" 
                    ngModel
                    #confirmEmail="ngModel"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input 
                    matInput type="password" 
                    name="password" 
                    ngModel
                    #password="ngModel"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input 
                    matInput type="password" 
                    name="confirmPassword"
                    ngModel
                    #confirmPassword="ngModel" 
                    required>
                </mat-form-field>
            </div>
            
            <mat-error *ngIf="invalidRegister">{{ getErrorMsg() }}</mat-error>

            <h1></h1>


            <div>
                <button mat-raised-button color = "accent" type="submit">Register</button>
                <h1></h1>
                <a routerLink="/login">
                    <mat-label>Already Registered? Click here to Login</mat-label>
                </a>
            </div>

        </form>
    </mat-card>
</div>
