mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    width: 80%;
}
  

.login-formatter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}